name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]

    steps:
    # Python & dependency installation
    - uses: actions/checkout@v2
    - name: setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install Poetry
      uses: snok/install-poetry@v1.2.1
    - name: set poetry config path
      run: poetry config virtualenvs.path ~/.virtualenvs
    - name: install dependencies
      run: poetry install
    - name: lint with mypy
      run: poetry run mypy --disallow-untyped-defs scrapelib/
    - name: lint with flake8
      run: poetry run flake8 --show-source --statistics --ignore=E203,E501,W503 scrapelib
    - name: pytest
      run: poetry run pytest
